@page "/"
@using System.Globalization
@using TP_Blazor.Components

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<p>
    <b>CurrentCulture</b>: @CultureInfo.CurrentCulture
</p>

<Card>
    <CardHeader>
        <div class="card-header">
            My templated Component Header
        </div>
    </CardHeader>
    <CardBody>
        <div class="card-body">
            <h4>Template Component Body</h4>
        </div>
    </CardBody>
    <CardFooter>
        <div class="card-footer">
            template component Footer
        </div>
    </CardFooter>
</Card>
